<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>NoteName</key>
			<string>Do</string>
			<key>NoteOffset</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>NoteName</key>
			<string>Re</string>
			<key>NoteOffset</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>NoteName</key>
			<string>Mi</string>
			<key>NoteOffset</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>NoteName</key>
			<string>Fa</string>
			<key>NoteOffset</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>NoteName</key>
			<string>So</string>
			<key>NoteOffset</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>NoteName</key>
			<string>La</string>
			<key>NoteOffset</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>NoteName</key>
			<string>Ti</string>
			<key>NoteOffset</key>
			<integer>11</integer>
		</dict>
	</array>
</plist>
